/* 横幅2区域样式 */
#banner2 {
    margin-top: 14px;
    margin-bottom: 26px;
}

/* 服务栏目 */
#banner2 .server {
    width: 234px;
    height: 170px;
    margin-right: 14px;
    padding: 3px;
    background-color: #5f5750;
    font-size: 0;
}

#banner2 .server a {
    font-size: 12px;
    display: inline-block;
    width: 76px;
    height: 82px;
    text-align: center;
    padding-top: 18px;
    position: relative;
}

#banner2 .server a i {
    font-size: 26px;
    margin-bottom: 6px;
    display: block;
}

/* 服务栏目hover样式 */
#banner2 .server a:hover {
    color: #fff;
}

/* 服务栏目after before样式 */
#banner2 .server a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 1px;
    height: 70px;
    background-color: #665e57;
}

#banner2 .server a:nth-child(3n+1)::after {
    content: none;
}

#banner2 .server a::before {
    content: "";
    position: absolute;
    left: 6px;
    bottom: 0px;
    width: 64px;
    height: 1px;
    background-color: #665e57;
}

#banner2 .server a:nth-child(n+4):before {
    content: none;
}

/* 图片链接 */
#banner2 .imgs a {
    width: 316px;
    height: 170px;
    margin-right: 15px;
}

#banner2 .imgs a:first-child {
    margin-right: 0;
}

#banner2 .imgs a img {
    width: 100%;
    height: 100%;
}