* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

*::after,
*::before {
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    min-width: 1226px;
    color: #ccc;
}

.container {
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ff6700;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}