@import "~@/Style/common.module.less";

.Loading-container {
    .container-center();
    width: @fullsize;
    height: @fullsize;
    background-color: rgba(255, 255, 255, 0.5)
}

.img {
    .container-center();
}