* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.chess-container {
    background-color: burlywood;
    width: 450px;
    height: 450px;
    padding: 13px;
    border: 1px solid #ccc;
    font-size: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.chess-container .item {
    border: 1px solid #000;
    height: 100%;
}

.chess-container .item .check {
    width: 30px;
    height: 30px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    position: relative;
    font-size: 0;
}

.chess-container .item .check:nth-child(14n) {
    border-right: none;
}

.chess-container .item .check:nth-child(n+183) {
    border-bottom: none;
}

.chess {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    line-height: 30px;
    /* font-size: 14px; */
}

.black {
    background-color: #000;
    color: #fff;
}

.white {
    background-color: #fff;
    color: #000;
}

.checked {
    border: 2px solid;
    border-color: rgba(0, 255, 128, 0.678);
}
