/* 顶部导航栏容器 */
.NavHeader-Container {
    width: 100%;
    height: 100%;
}

/* col */
.Col-Container {
    height: 100%;
}

/* logo */
.demo-logo {
    width: 100%;
    height: 100%;
    display: block;
    background: url(../../../public/logo1.png) no-repeat center center/contain;
}

.flex-Container {
    display: flex;
    align-items: center;
    justify-content: center;
}